body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Changed background color */
}

.search-div {
  text-align: center;
  margin-top: 20px;
}

h1 {
  color: #333;
}

.input-div {
  margin-top: 20px;
}

#form-div {
  display: flex;
  justify-content: center;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 200px;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #00448d;
  cursor: pointer;
}

#card-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.title{
  font-size: 17px;
  font-weight: 700;
}

.book-card {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-card img {
  width: 100%;
  border-radius: 5px;
}

.book-card:hover {
  cursor: pointer;
  background-color: #f9f9f9;
  border: 1px solid #007bff;
}

.card-container {
  padding: 10px;
}

.card-container p {
  margin: 5px 0;
}

.card-container span {
  color: gray;
  font-size: 14px;
}

.error-message {
  color: red;
  text-align: center;
}